/* button laten zien als de input ernaast gecheckt is */
fieldset button {
    display: none;
}

input[type="radio"]:checked + button {
    display: block;
}


/* zet alles op display none wat niet nodig is */
#eenbtwee, #eenbdrie, #eenbvier, #eenc, #eenceen, #eenctwee, #eencdrie, #eend, #eendeen, #eendtwee {
    display: none;
}


/* progressive disclosure */
body {
    /* eenbeen */
    &:has(#getrouwdja:checked) {
        #eenbtwee {
            display: block;
        }
    }
    /* eenbtwee */
    &:has(#notarja:checked) {
        #eenbdrie, #eenbvier, #eenc, #eenceen {
            display: block;
        }
    }


    /* eenceen */
    &:has(#kinderenja:checked) {
        #eenctwee {
            display: block;
        }
    }

    /* eenctwee */
    &:has(#kindereneerderja:checked) {
        #eencdrie, #eend, #eendeen {
            display: block;
        }
    }

    /* eendeen */
    &:has(#testamentja:checked) {
        #eendtwee {
            display: block;
        }
    }
    
}

body:has(.ganaar1c:checked) {
    #eenc, #eenceen {
        display: block;
    }
}

body:has(.ganaar1d:checked) {
    #eend, #eendeen {
        display: block;
    }
}





